@font-face {
    font-family: 'PTSansCaption';
    src: url('../fonts/PTSansCaption/PTSansCaptionRegular.eot') format('embedded-opentype'),
         url('../fonts/PTSansCaption/PTSansCaptionRegular.woff') format('woff'),
         url('../fonts/PTSansCaption/PTSansCaptionRegular.otf') format('otf')
}
@font-face {
    font-family: 'Intro';
    src: url('../fonts/IntroInline/IntroInline.eot');
    src: url('../fonts/IntroInline/IntroInline.eot') format('embedded-opentype'),
         url('../fonts/IntroInline/IntroInline.woff') format('woff'),
         url('../fonts/IntroInline/IntroInline.ttf') format('truetype')
}
@font-face {
    font-family: 'GothamPro';
    src: url('../fonts/GothamProMedium/GothamProMedium.eot');
    src: url('../fonts/GothamProMedium/GothamProMedium.eot') format('embedded-opentype'),
         url('../fonts/GothamProMedium/GothamProMedium.woff') format('woff'),
         url('../fonts/GothamProMedium/GothamProMedium.ttf') format('truetype')
}
@font-face {
    font-family: 'HelveticaBold';
    src: url('../fonts/HelveticaBold/HelveticaBold.eot');
    src: url('../fonts/HelveticaBold/HelveticaBold.eot') format('embedded-opentype'),
         url('../fonts/HelveticaBold/HelveticaBold.woff') format('woff'),
         url('../fonts/HelveticaBold/HelveticaBold.ttf') format('truetype')
}