html{
    height: 100%;
}
body{
    font-family: "PTSansCaption", sans-serif;	
    color: #295234;
    margin: 0;
    padding: 0;
    font-size: 14px;
    height: 100%;
}
ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

:focus {
    outline: 0;
}
a { outline: none; -moz-outline: 0;}
a:active { outline: none; -moz-outline: 0; }
a:focus { outline: none; -moz-outline: 0; }
input,
select,
button,
.select2-container .select2-selection--single{
    outline: none !important;
    -moz-outline: 0;
}

h1,h2,h3,p,ul{
    margin: 0;
    padding: 0;
    line-height: 1.2;
}
h1{
    font-size: 36px;
    margin: 0px 0px 15px 0px;
    font-family: "Intro";
    font-weight: 400;
    color: #295133;
    text-align: center;
    line-height: 40px;
}
a{
    color: #295133;
}
a:hover{
    text-decoration: none;
}
label{
    font-weight: bold;
}
.wrap{
    min-height: 100%;
    width: 100%;
    background: url('../img/bg.jpg') 50% 0 no-repeat #ECEA9D;
    position: relative;
}
@media (min-width: 1000px){
    .wrap{
        overflow-x: hidden;
    }
}
.wrap-container{
    box-sizing:border-box;
    width:1030px;
    margin-left: auto;
    margin-right: auto;
    position: relative;    
    padding-bottom: 100px;
}
header{
    height: 200px;
    position: relative;
}
.toggle-menu{
    display: none;
}
.menu{
    margin-top: 10px;
    float: right;
    box-sizing: border-box;
    z-index: 5;
    position: relative;
    box-shadow: 0px 0px 150px #FFF582;
    border-radius: 20px;
}
.menu ul:before,
.menu ul:after{
    float: left;
    content: '';
    display: inline-block;
    width: 23px;
    height: 50px;
}
.menu ul:before{
    background: url('../img/menu-l.png') 100% 50% no-repeat transparent;
}
.menu ul:after{
    background: url('../img/menu-r.png') 0% 50% no-repeat transparent;
}
.menu-ul{
    display: inline-block;
}
.menu li.menu-separator span{
    font-size: 25px;
    color: #e71702;
    margin-top: -9px;
    display: inline-block;
}
.menu li{
    float: left;
    padding: 15px 8px 19px 3px;
    list-style: none;
    text-align: center;
    background: url('../img/menu-m.png') 50% 0 repeat-x transparent;
    height: 50px;
    box-sizing: border-box;
}
.menu .item:last-child{
    padding-left: 35px;
}
.menu .item:last-child,
.menu .item:last-child .link{
    color: #fff1a4;
}
.menu .item,.menu .item .link{
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    font-family: "GothamPro", sans-serif;	
}
.menu .item.active,
.menu .item.active .link{
    color: #f68d02;
    text-shadow: 0px 0px 5px #000;
}
.menu .item .link:hover{
    border-top: 1px solid #e6f1a0;
    border-bottom: 1px solid #e6f1a0;
}
.header-logo{
    position: absolute;
    display: block;
    background: url('../img/logo.png') 50% 0 no-repeat transparent;
    width: 430px;
    height: 220px;
    top: 0;
    z-index: 10;
    left: 0;
}
.wrap-content{
    min-height: 550px;
    padding-bottom: 50px;
}
.content .content-inner{
    margin: 0 auto;
    padding-top: 10px;
}
.wrap-footer{
    width: 100%;
    min-width: 1030px;
    margin-top: 20px;
    background: #037611;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
}
.footer{
    text-align: center;
}
.footer-menu{
    display: inline-block;
    padding: 33px 0;
}
.footer-menu li{
    display: inline-block;
    margin-right: 60px;
}
.footer-menu li:last-child{
    margin-right: 0;
}
.footer-menu li a{
    color: #fff;
}
.footer-menu li a:hover{
    text-decoration: underline;
    color: #ffea00;
}

/* fields and btns && other helpers*/

.input-block input,
.input-block select,
.input-block .select2 .select2-selection,
.input-block textarea{
    background: #f6f7c5;
    border-radius: 10px;
    border: 1px solid #295234;
    padding: 5px 10px;
    width: 100%;
    color: #93b733;
    font-size: 16px;
    box-sizing:border-box;
    font-family: "PTSansCaption";
}

.input-block .select2-container .select2-selection--single,
.input-block .select2-container--default .select2-selection--single .select2-selection__rendered{
    height: auto; 
    line-height: normal;
    color: #93b733;
}
.input-block .select2-container--default .select2-selection--single .select2-selection__arrow b {
    border: none;
    height: 0;
    width: 0;
    left: -5px;
    margin-left: 0;
    margin-top: 0;
    border: 10px solid transparent;
    border-top-color: #295234;
}
.input-block input::-webkit-input-placeholder,
.input-block textarea::-webkit-input-placeholder {
    color: #93b733;
}
.input-block input:-moz-placeholder,
.input-block textarea:-moz-placeholder {
   color: #93b733;
   opacity: 1;
}
.input-error input,
.input-error textarea{
    border-color: #f31b0d;
}
.input-error-text{
    margin-top: 10px; 
    display: none;
    font-size: 13px;
    color: #ff0000;
}
.input-error .input-error-text{
    display: block;
}
.help-block-error{color: #ff0000}
.btn-primary,
.btn-default{
    background: url('../img/btn-bg.png') 50% 50% repeat-x #ECFFB8;
    border-radius: 25px;
    border: none;
    padding: 13px 20px;
    font-size: 19px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    height: 45px;
    box-sizing: border-box;
    text-shadow: 0px 0px 7px rgba(1, 1, 1, 0.5);
}
.btn-default{
    background: #004524;
    color: #295234;
    border: 1px solid #295234;
    text-decoration: none;
    font-weight: normal;
}
.btn-primary:hover{
    //background: #014621;
    //color: #ecffb8;
}
.input-block-required{
    position: relative;
    display: inline-block;
    vertical-align: middle;
}
.input-block-required:after{
    content: "*";
    position: absolute;
    right: -14px;
    top: -18px;
    font-size: 29px;
    color: #FF0D0D;
}
.checkbox-block{
    width: 25px;
    height: 25px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    background: url('../img/checkbox-off.png') 0% 100% no-repeat transparent;
}
.checkbox-on{
    background: url('../img/checkbox-on.png') 0% 100% no-repeat transparent;
}
.checkbox-block input{
    display:none;
}
.text-required-info{
   padding-left: 20px;
   font-size: 13px;
}
.captcha-block>div,
.captcha-block>input{
    display: inline-block;
    vertical-align: middle;
}
.captcha-img{
    border: 1px solid #295234;
    border-radius: 12px;
    font-size: 16px;
    font-weight: bold;
    color: #295234;
    height: 32px;
    line-height: 32px;
    width: 167px;
    text-align: center;
    box-sizing: border-box;
    background: #f6f7c5;
}
.captcha-reload a{
    background: url('../img/captcha-reload.png') 50% 50% no-repeat transparent;
    width: 30px;
    height: 30px;
    display: block;
    margin: 0 7px;
}
div.browse-wrap {
    //margin:10px;
    cursor:pointer;
    overflow:hidden;
    position:relative;
}
input.upload {
    right:0;
    margin:0;
    bottom:0;
    padding:0;
    opacity:0;
    height:300px;
    outline:none;
    cursor:inherit;
    position:absolute;
    font-size:1000px !important;
}
span.upload-path {
    text-align: left;
    margin: 10px;
    display: block;
    font-size: 80%;
}
.link-upload{
    color: #295133;
    text-decoration: underline;
}
.link-upload:hover{
    text-decoration: none;
}
.input-radio-block{
    display: inline-block;
    width: 8px;
    height: 8px;
    border: 1px double #295234;
    border-radius: 8px;
    cursor: pointer;
    padding: 3px;
    margin-right: 5px;    
    vertical-align: middle;
}
.input-radio-block:last-child{
    margin-left: 25px;
}
.input-radio-block.radio-on:before{
    content: "";
    display: block;
    width: 8px;
    height: 8px;
    background: #295234;
    border-radius: 8px;
}
.input-radio-block input{
    display: none !important;
}


/* helpers */
.clearfix:after{content:".";clear:both;display:block;height:0;font-size:0;visibility:hidden}
.mtop-10{margin-top: 10px;}
.mtop-15{margin-top: 15px;}
.mtop-20{margin-top: 20px;}
.mtop-30{margin-top: 30px;}
.mtop-50{margin-top: 50px;}
.text-center{text-align:center;}
.text-left{text-align:left;}
.text-right{text-align:right;}
.inline-block{display: inline-block;}

/* modal fancy */
.j7-modal{
    display: none;
    width: 500px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
.fancybox-overlay {
    background-image: none !important;
    background: rgba(0, 0, 0, 0.4) !important;
}
.fancybox-wrap .fancybox-skin{
    background: #195E28;
    border: 1px solid #a5c45e;
    border-radius: 10px;
    box-shadow: 0 0 180px rgba(165, 196, 94, 0.78);
    -webkit-box-shadow: 0 0 180px rgba(165, 196, 94, 0.78);
    color: #fff;
}


/*login page */

.content-login{
    background: url('../img/lemon.png') 100% 100% no-repeat transparent;
    padding-bottom: 20px;
}
.content-login .content-inner{
    width: 475px;
    text-align: center;
}
.content-login .input-block label{
    width: 140px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    text-align: left;
}
.content-login .input-block input{
    width: 300px;
    display: inline-block;
    vertical-align: middle;
}
.content-login .btn-primary{
    padding: 15px 75px;
}
.content-login .reset-pass-link-block{
    text-align: right;
    margin-top: 10px;
}
.content-login .reset-pass-link-block a{
    font-size: 12px;
}
.content-login .social-block{
    margin-top: 40px;
    text-align: center;
}
.content-login .social-block label{
    margin-right: 20px;
}
.content-login .soc-link {
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
    width: 42px;
    height: 42px;
    background: url('../img/socials.png') 0 0 no-repeat transparent;
}
.content-login .soc-link.soc-vk {
    background-position: 0 0;
}
.content-login .soc-link.soc-ok {
    background-position: -65px 0;
}
.content-login .soc-link.soc-fb {
    background-position: -127px 0;
}
.content-login .not-register-link-block{
    display: none;
}
#remember-pass,
#new-pass{
    padding: 40px 0;
}
#remember-pass h1,
#new-pass h1{
    color: #f8e797;
    text-align: center;
    width: 100%;
    margin-left: 0;
    font-size: 28px;
}
#remember-pass .input-block,
#new-pass .input-block{
    margin: 30px auto;
    width: 330px;
}
#new-pass .input-block label{
    display: block;
    text-align: left;
    padding-left: 5px;
    margin-bottom: 5px;
}
#remember-pass .btn-primary,
#new-pass .btn-primary{
    padding-left: 50px;
    padding-right: 50px;
}


/* signup page*/
.content-signup{
    background: url('../img/lemon.png') 100% 100% no-repeat transparent;
}
.content-signup .content-inner{
    width: 550px;
}
.content-signup .input-block{
    margin-bottom: 15px;
    vertical-align: middle;
}
.content-signup .input-block label{
    width: 200px;
    margin-right: 15px;
    display: inline-block;
    vertical-align: middle;
}
.input-block-sex .input-block-required:after{
    content:'';
}
.content-signup .input-block input,
.content-signup .input-block select,
.content-signup .birthdate-input-block .input-block-required{
    width: 300px;
    display: inline-block;
}
.content-signup .birthdate-input-block select{
    width: 97px;
    margin-right: 5px;
}
.content-signup .birthdate-input-block select:last-child{
    margin-right: 0;
}
.content-signup .accept-block{
    margin-top: 10px;
}
.content-signup .accept-block>div{
    vertical-align: middle;
    margin-right: 5px;
}
.content-signup .accept-block,
.content-signup .accept-block a{
    font-size: 12px;
}
.content-signup .submit-block{
    text-align: center;
    margin-top: 50px;
}
.content-signup .btn-primary{
    padding-left:60px;
    padding-right:60px;
}
.modal-send-regcode .j7-modal{
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
}
.modal-send-regcode .btn-primary{
    margin-top: 30px;
    padding: 10px 100px;
}
#email-exist{
    margin: 50px 20px;
}
#email-exist .email-exist-title{
    color: #f99100;
    margin-bottom: 20px;
}
#email-exist a{
    color: #fcff0f;
}

#email-exist .btn-primary{
    padding-left: 90px;
    padding-right: 90px;
}


/* feedback-form page */
.content-feedback-form{
    background: url('../img/lemon.png') 100% 100% no-repeat transparent;
    padding-bottom: 120px;
}
.content-feedback-form .content-inner{
    width: 630px;
}
.content-feedback-form .input-block{
    margin-bottom: 25px;
    vertical-align: middle;
}
.content-feedback-form .input-block label{
    width: 260px;
    margin-right: 15px;
    margin-left: 25px;
    display: inline-block; 
    vertical-align: middle;
}
.content-feedback-form .input-block input,
.content-feedback-form .input-block select{
    width: 315px;
    display: inline-block;
}
.content-feedback-form .input-block textarea{
    height: 200px;
    margin-top: 20px; 
    resize: none;
}
.content-feedback-form .captcha-block{
    margin-left: 80px;
}
.content-feedback-form .action-btns{
    margin-top: 110px;
    text-align: center;
}
.content-feedback-form .btn-primary{
    margin-right: 30px;
    padding-left: 50px;
    padding-right: 50px;
}
.content-feedback-form .feedback-history-link-block{
    text-align: right;
    margin-top: 25px;
}


/* feedback page */

.content-feedback{
    background: url('../img/lemon.png') 100% 100% no-repeat transparent;
    padding-bottom: 100px;
}
.content-feedback .content-inner{
    width: 660px;
}
.content-feedback .feedback-question, 
.content-feedback .feedback-answer{
    display: block;
    width: 100%;
    min-height: 60px;
    padding: 15px;
    border: 1px solid #2C773C;
    border-radius: 2px;
    box-sizing: border-box;
    position: relative;
    border-radius: 10px;
    border: 1px solid #295133;
    margin-bottom: 50px;
    color: #b8d567;
}
.content-feedback .feedback-question>div:first-child, 
.content-feedback .feedback-answer>div:first-child{
    margin-bottom: 10px;
}
.content-feedback .feedback-question{
    background-color: #295133;
}
.content-feedback .feedback-answer{
    background-color: #b8d567;
    color: #295133;
}
 .upload_skrepka{
    content: " ";
    background: url("../img/note_1.png") 0 0 no-repeat transparent;
    display: block;
    width: 25px;
    height: 50px;
    position: absolute;
    right: 20px;
    top: -15px;
    z-index: 5;
}
.content-feedback .feedback-answer .upload_skrepka{
    background-image: url("../img/note_2.png");
}
.content-feedback .feedback-item-title{
    color: #295133;
    margin-bottom: 10px;
}
.content-feedback form textarea{
    background: #f6f7c5;
    min-height: 60px;
    color: #044F26;
}
.content-feedback .input-block textarea::-webkit-input-placeholder {
    color: #93b733;
}
.content-feedback .input-block textarea:-moz-placeholder {
   color: #93b733;
}
.content-feedback .submit-block{
    margin-top: 100px;
    text-align: center;
}
.content-feedback .submit-block .btn-primary{
    padding-left: 70px; 
    padding-right: 70px; 
}

/* winners page */

.content-winners{
    background: url('../img/lemon.png') 100% 100% no-repeat transparent;
    padding-bottom: 100px;
}
.content-winners .content-inner{
    width: 750px;
}
.content-winners .filter-block{
    text-align: right;
}
.content-winners .search-input{
    border-radius: 10px;
    border: 1px solid #295234;
    display: inline-block;
    padding: 5px 9px;
    background: #f6f7c5;
}
.content-winners .search-input input[type="text"]{
    background: none;
    border: none;
    color: #295234;
    vertical-align: middle;
}
.content-winners .search-input input[type="text"]::-webkit-input-placeholder {
    color: #295234;
    font-size: 14px;
}
.content-winners .search-input input[type="text"]:-moz-placeholder {
    color: #295234;
    font-size: 14px;
}
.content-winners .search-input input[type="submit"]{
    background: url(../img/search.png) 50% 50% no-repeat transparent;
    border: none;
    width: 25px;
    height: 20px;
    vertical-align: middle;
    cursor: pointer;
}
.winners-table{
    width: 100%;
    margin-top: 40px;
}
.content-winners .table-tr{
    display: table;
    width: 100%;
    border-bottom: 1px solid #60884d;
    font-size: 0;
}
.content-winners .table-tr>div{
    display: inline-block;
    vertical-align: middle;
    padding: 15px;
    font-size: 14px;
}
.content-winners .table-tr.table-thead>div {
    padding: 5px 15px;
}
.content-winners .table-tr>div:nth-child(1){
    width: 40%;
    padding-left: 60px;
    box-sizing: border-box;
}
.content-winners .table-tr>div:nth-child(2),
.content-winners .table-tr>div:nth-child(3){
    width: 30%;
    box-sizing: border-box;
}
.pager {
    margin-top: 30px;
    width: 100%;
    height: 41px;
    text-align: center;
}
.pager .item {
    display: inline-block;
    vertical-align: middle;
    padding: 2px 5px;
    text-align: center;
    list-style: none;
}
.pager .item, .pager .item a {
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
.pager .item a {
    padding: 10px 1px;
    display: inline-block;
}
.pager .current-item a{
    color: #fff;
}
.pager-left a,
.pager-right a{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.pager-left a{
    background: url(../img/pager-arr-left.png) 50% 50% no-repeat transparent;
}
.pager-right a{
    background: url(../img/pager-arr-right.png) 50% 50% no-repeat transparent;
}
.pager-left{
    margin-right: 15px;
}
.pager-right{
    margin-left: 15px;
}

/* index page */
.wrap.index-page {
    background-image: url('../img/bg-index.jpg');
}
.content-index{
    text-align: right;
    margin-top: -110px;
}
.mehanika{
    z-index: 10;
    position: relative;
    padding: 45px 15px;
    box-sizing: border-box;
    display: inline-block;
    border: 1px solid #58992b;
    border-radius: 35px/60px;
    background: rgba(253, 251, 215, 0.18);
    font-family: "HelveticaBold";
}
.mehanika-step{
    text-align: left;
    display: inline-block;
    vertical-align: top;
}
.mehanika-step>div{
    display: inline-block;
    vertical-align: top;
    text-align: left;
}
.mehanika-step:nth-child(1){
    width: 200px;
    margin-right: 20px;
}
.mehanika-step:nth-child(2){
    width: 200px;
    margin-right: 10px;
}
.mehanika-step:nth-child(3){
    width: 165px;
}
.mehanika .step-num{
    font-size: 27px;
    color: #fff1a4;
    background: #58992b;
    border-radius: 30px;
    text-align: center;
    vertical-align: middle;
    height: 40px;
    line-height: 40px;
    width: 40px;
    margin-right: 5px;
}
.mehanika .step-title{
    font-size: 15px;
    color: #004008;
}
.mehanika .step-text{
    font-size: 15px;
    color: #288c1a;
}
.index-btn-block{
    width: 100%;
    text-align: center;
    margin-top: 13px;
    position: absolute;
}
.index-btn{
    display: inline-block;
    width: 255px;
    height: 110px;
    background: url('../img/index-btn.png') 50% 0% no-repeat transparent;
}
.prizes-block{
    display: inline-block;
    text-align: center;
    margin-top: 60px;
    width: 640px;
    height: 350px;
    background: url('../img/bg-prizes.png') 50% 50% no-repeat transparent;
}
.prize-text-block{
    margin-top: 161px;
    text-align: left;
}
.prizes-block .index-prize-money,
.prizes-block .index-prize-sert{
    display: inline-block;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    font-family: "GothamPro";
    margin-left: 80px;
}
.prizes-block .index-prize-sert{
    margin-left: 108px;
}
.logo-5ka{
    display: inline-block;
    width: 345px;
    height: 100px;
    margin-top: 30px;
    background: url('../img/logo-5ka.png') 50% 50% no-repeat transparent;
}


/* 404 page*/
.content-404 .content-inner{
    width: 715px;
    height: 500px;
    text-align: center;
    margin-top: 150px;
    padding-top: 0;
    box-sizing: border-box;
    padding-left: 100px;
    font-size: 30px;
    color: #b8d567;
}
.content-404 h1{
    font-size: 96px;
    margin-left: -10px;
}
.content-404 a{
    font-size: 14px;
    color: #fff;
}

/* cabinet page*/
.content-cabinet{
    background: url('../img/lemon.png') 100% 100% no-repeat transparent;
}
.content-cabinet .content-inner{
    width: 100%;
    padding-bottom: 180px;
}
.content-cabinet h1{
    margin-bottom: 35px;
}
.content-cabinet .l-col,
.content-cabinet .m-col,
.content-cabinet .r-col{
    display: inline-block;
    vertical-align: top;
}
.content-cabinet .l-col{
    width: 240px;
    margin-right: 30px;
}
.content-cabinet .m-col{
    width: 460px;
    margin-right: 35px;
}
.content-cabinet .r-col{
    width: 195px;
    margin-right: -15px;
}
.content-cabinet .h2{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 25px;
}
.content-cabinet .user-info{
    box-shadow: 0px 0px 30px #5d8c0c;
    -webkit-box-shadow: 0 0 10px #1f9129;
    background: #77a93b; /* Для старых браузров */
    background: linear-gradient(to bottom, #77a93b, #b1cd67);
    padding: 15px;
    border-radius: 15px;
}
.content-cabinet .user-info>div{
    margin-bottom: 10px;
}
.content-cabinet .user-name{
    color: #ecffb8;
    font-size: 14px;
    font-weight: bold;
}
.profile-edit-btn-block{
    text-align: center;
    margin-top: 25px;
}
.profile-edit-btn-block a{
    font-size: 11px;
    padding: 16px 20px;
}
.check-img{
    display: block;
    background: url('../img/check-img.png') 50% 0 no-repeat transparent;
    width: 200px;
    height: 270px;
}
.content-cabinet .check-reg-block .input-block{
    margin-bottom: 15px;
}
.content-cabinet .check-reg-block .input-block label{
    font-size: 14px;
    display: inline-block;
    vertical-align: middle;
    width: 143px;
}
.content-cabinet .check-reg-block .input-block input,
.content-cabinet .check-reg-block .input-block select{
    width: 305px;
    vertical-align: middle;
}
.content-cabinet .check-reg-block .datecheck-input-block select{
    width: 99px;
    vertical-align: middle;
}
.content-cabinet .upload-path{
    display: inline-block;
    vertical-align: middle;
    border-radius: 15px;
    border: 1px solid #295234;
    padding: 10px;
    width: 180px;
    color: #295234;
    font-size: 16px;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    background: #F6F7C5;
}
.content-cabinet .browse-wrap{
    display: inline-block;
    vertical-align: middle;
}
.content-cabinet .browse-wrap .btn-primary{
    font-size: 14px;
    padding: 13px 12px;
}
.error-info-text{
    font-size: 12px;
    color: #77a12f;
}
.content-cabinet .accept-block {
    text-align: right;
    margin-top: 20px;
}
.content-cabinet .accept-block .checkbox-block{
    vertical-align: middle;
    margin-top: -2px;
}
.content-cabinet .accept-block .inline-block{
    vertical-align: middle;
}
.content-cabinet .accept-block .inline-block a{}
.content-cabinet .submit-btn-block{
    margin-top: 30px;
    text-align: center;
}
.content-cabinet .submit-btn-block .btn-primary{
    padding-left: 70px;
    padding-right: 70px;
}
#check-reg-success-popup {
    margin: 50px 20px;
}
.modal-check-reg-success-popup .fancybox-skin {
    background: #f99100;
    color: #fff;
}
.modal-check-reg-success-popup .fancybox-skin a{
    color: #fff;
    text-decoration: underline;
}
.modal-check-reg-success-popup .fancybox-skin a:hover{
    text-decoration: none;
}
.modal-check-reg-success-popup .fancybox-skin a.btn-primary{
    text-decoration: none;
}
.checks-table{
    margin-top: 50px;
    width: 100%;
}
.checks-table .tr{
    display: table;
    width: 100%;
}
.checks-table .tr>div{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    width: 25%;
    box-sizing: border-box;
    padding-left: 40px;
}
.checks-table .tr>div:nth-child(1){
    padding-left: 60px;
}
.checks-table .tr>div{
    border-right: 1px solid #87b34a;
    display: table-cell;
}
.checks-table .tr{
    border-bottom: 1px solid #87b34a;
}
.checks-table .tr>div:last-child{
    border-right: none;
}
.checks-table .status-check-progress{
    color: #fff;
    font-weight: bold;
}
.checks-table .status-check-accept{
    color: #44a415;
    font-weight: bold;
}
.checks-table .status-check-cancel{
    color: #ff0000;
    font-weight: bold;
}

/* profile-edit popup */
#profile-edit{
    width: 740px;
    padding: 50px 50px 0 50px;
    box-sizing: border-box;
}
#profile-edit .user-data,
#profile-edit .user-address{
    display: inline-block;
    vertical-align: top;
    box-sizing: border-box;
    text-align: left;
}
#profile-edit .user-data{
    width: 60%;
    padding-right: 30px;
    padding-left: 30px;
}
#profile-edit .user-address{
    width: 39%;
    padding-left: 50px;
}
#profile-edit .input-block{
    margin-bottom: 20px;
}
#profile-edit .input-block label{
    margin-bottom: 10px;
    display: block;
    text-align: center;
    color: #F6F7C5;
}
#profile-edit .input-block .input-block-required{
    display: block;
}
#profile-edit .user-address select,
#profile-edit .user-address .input-block .select2-container .select2-selection--single{
    box-sizing: border-box;
    height: 32px;
}
#profile-edit .user-address select {
    width: 200px;
}
#profile-edit .birthdate-input-block select {
    width: 103px;
}
#profile-edit .input-radio-block {
    border-color: #F6F7C5;
}
#profile-edit .input-radio-block.radio-on:before {
    background: #F6F7C5;
}
#profile-edit .input-block-house,
#profile-edit .input-block-corpus{
    width: 95px;
    display: inline-block;
    vertical-align: middle;
}
#profile-edit .btn-primary{
    width: 220px;
}


.select2-container--open {
    z-index: 9999;
}
    
/* mobile styles */

@media only screen and (max-width : 768px) {
    body {
        font-size: 18px;
    }
    .wrap-container,
    .wrap-footer {
        width: auto;
        min-width: 640px;
    }
    .wrap{
        width: 100%;
        background: url('../img/bg-mob.jpg') 50% 0 no-repeat #e9e88f;
    }
    header {
        height: 115px;
    }
    .header-logo{
        background: url('../img/logo-mob.png') 100% 0 no-repeat transparent;
        width: 270px;
        height: 260px;
        left: auto;
        right: 0px;
        margin-left: 0;
    }
    .toggle-menu{
        display: inline-block;
        width: 40px;
        height: 35px;
        background: url('../img/menu-toggle.png') 50% 50% no-repeat transparent;
        margin-top: 20px;
        margin-left: 20px;
        cursor: pointer;
    }
    .menu{
        width: 100%;
        height: 70px;
        z-index: auto;
        margin-top: 0;
        background: url('../img/menu-bg-mob.png') 50% 50% repeat-x transparent;
        box-shadow: none;
        border-radius: 0px 0px 15px 15px;
    }
    .menu:before{
        content: '';
        position: absolute;
        display: block;
        width: 40px;
        height: 40px;
        background: url('../img/menu-arr.png') 50% 50% no-repeat transparent;
        margin-top: 20px;
        margin-left: 90px;
    }
    .menu ul{
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        background: #037611;
        border-radius: 0 0 5px 5px;
        border: 1px solid #b8d567;
        border-top: none;
        padding: 65px 0 20px 0;
        z-index: 15;
    }
    .menu .item:last-child {
        padding-left: 20px;
    }
    .menu .item, .menu .item .link {
        font-size: 29px;
    }
    .menu.show ul{
        display: block;
    }
    .menu.show .toggle-menu{
        margin-left: 375px;
        z-index: 30;
        position: absolute;
        margin-top: 15px;
    }
    .menu ul .item{
        display: block;
        float: none;
        padding: 20px 100px 20px 20px;
        box-sizing: border-box;
        text-align: left;
        height: auto;
        border-top: 1px solid #5e8950;
        width: 100%;
        background: none;
    }
    .menu ul:before,
    .menu ul:after,
    .menu ul .menu-separator  {
        display: none;
    }
    .menu ul .item:nth-child(2){
        margin-right: 0;
    }
    .content {
        background: none;
    }
    h1{
        font-size: 40px;
        text-align: left;
        width: 350px;
        margin-left: -40px;
        margin-bottom: 35px;
    }
    .input-block-required{
        display: block;
    }
    .input-block-required:after {
        font-size: 55px;
        right: -19px;
        top: -25px;
    }
    .content{
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 50px;
    }
    .footer-menu {
        padding: 15px;
        text-align: left;
    }
    .footer-menu li {
        margin-bottom: 10px;
        margin-right: 18px;
    }
    .input-block input {
        padding: 20px;
        font-size: 25px;
    }
    .input-block label,
    .input-block select,
    .input-block .select2-container .select2-selection--single, 
    .input-block .select2-container--default .select2-selection--single .select2-selection__rendered {
        font-size: 25px;
    }
    .select2-container .select2-selection--single .select2-selection__rendered {
        padding: 15px 10px;
    }
    .select2-container--default .select2-selection--single .select2-selection__arrow {
        height: 65px;
    }
    .btn-primary{
        height: 74px;
        background: url('../img/btn-bg-mob.png') 50% 50% repeat-x #ECFFB8;
        border-radius: 50px;
    }
    .btn-primary,
    .btn-default{
        padding: 20px 50px;
        font-size: 30px;
    }
    .input-radio-block{
        width: 14px;
        height: 14px;
        border-radius: 14px;
        padding: 6px;
    }
    .input-radio-block.radio-on:before{
        content: "";
        width: 14px;
        height: 14px;
        border-radius: 12px;
    }
    .content-login{
        background: none;
    }
    .content-login h1{
        margin-bottom: 75px;
        text-align: center;
        width: 100%;
        margin-left: 0;
    }
    .content-login .content-inner {
        width: 75%;
        padding-top: 130px;
    }
    .content-login .btn-primary{
        padding: 20px 110px;
    }
    .content-login .input-block input {
        width: 100%;
    }
    .content-login .input-block label,
    .content-login .social-block{
        display: none;
    }
    .content-login .not-register-link-block{
        display: block;
        margin-top: 40px;
    }
    .content-login .input-block:last-child {
        margin-top: 50px;
    }
    #remember-pass h1,
    #new-pass h1{
        font-size: 38px;
    }
    .content-signup{
        background: none;
        padding-bottom: 30px;
    }
    .content-signup .content-inner{
        width: 490px;
    }
    .content-signup .content-inner h1{
        margin-bottom: 70px;
    }
    .content-signup .input-block {
        margin-bottom: 40px;
    }
    .content-signup .input-block label {
        width: 100%;
        margin: 0 0 20px 0;
        display: block;
    }
    .content-signup .input-block input,
    .content-signup .input-block select,
    .content-signup .birthdate-input-block .input-block-required {
        width: 100%; 
    }
    .content-signup .captcha-block .captcha-img{
        margin-left: 0;
        padding: 20px 33px;
        font-size: 25px;
        height: 75px;
        box-sizing: border-box;
    }
    .content-signup .captcha-block input{
        width: 265px;
    }
    .content-signup .birthdate-input-block select,
    .content-signup .birthdate-input-block .select2 {
        width: 158px !important;
    }
    .content-signup .accept-block .inline-block {
        width: 300px;
    }
    .content-feedback-form{
        background: none;
        padding-bottom: 30px;
    }
    .content-feedback-form .content-inner{
        width: 490px;
    }
    .content-feedback-form .input-block {
        margin-bottom: 40px;
    }
    .content-feedback-form .input-block label {
        width: 100%;
        margin: 0 0 20px 0;
        display: block;
    }
    .content-feedback-form .input-block input,
    .content-feedback-form .input-block select {
        width: 100%; 
    }
    .content-feedback-form .input-block {
        margin-left: 0;
    }
    .content-feedback-form .captcha-block .captcha-img{
        margin-left: 0;
        padding: 20px 33px;
        font-size: 25px;
        height: 75px;
        box-sizing: border-box;
    }
    .content-feedback-form .captcha-block input{
        width: 253px;
    }
    .content-feedback-form .action-btns {
        text-align: center;
        width: 300px;
        margin: 110px auto 0 auto;
    }
    .content-feedback-form .feedback-history-link-block{
        text-align: center;
        font-weight: bold;
        margin-top: 35px;
        font-size: 20px;
    }
    .content-feedback{
        background: none;
    }
    .content-feedback .content-inner{
        width: 480px;
    }
    .content-feedback .feedback-item-title {
        font-size: 26px;
    }
    .content-feedback .feedback-question, 
    .content-feedback .feedback-answer,
    .content-feedback form textarea{
        min-height: 200px;
    }
    .upload_skrepka{
       background: url("../img/note-mob_1.png") 0 0 no-repeat transparent;
        width: 40px;
        height: 75px;
        right: 20px;
        top: -24px;
    }
    .content-feedback .feedback-answer .upload_skrepka{
       background-image: url("../img/note-mob_2.png");
   }
   .content-feedback .browse-wrap{
       text-align: center;
       margin-top: 30px;
   }
   .content-feedback .link-upload{
       color: #295234;
       font-size: 23px;
   }
   .content-feedback .submit-block{
       margin-top: 40px;
   }
    .content-winners .content-inner{
        width:490px;
        margin-top: 100px;
    }
    .content-winners .search-input {
        border-radius: 15px;
        padding: 15px 20px;
        width: 100%;
        text-align: left;
        box-sizing: border-box;
    }
    .content-winners .filter-block .search-input{
        margin-bottom:40px;
    }
    .content-winners .search-input input[type="text"] {
        font-size: 25px;
    }
    .content-winners .search-input input[type="text"]::-webkit-input-placeholder {
        font-size: 25px;
    }
    .content-winners .search-input input[type="text"]:-moz-placeholder {
        font-size: 25px;
    }
    .content-winners .search-input input[type="submit"] {
        background: url(../img/search-mob.png) 50% 50% no-repeat transparent;
        width: 40px;
        height: 40px;
        float: right;
        margin-top: -5px;
        margin-bottom: -5px;
    }
    .content-winners .table-tr>div:nth-child(1){
        padding-left: 15px;
    }
    .content-winners .table-tr>div {
        padding: 20px 15px;
    }
    .content-winners .table-tr.table-thead>div {
        padding: 10px 15px;
    }
    .content-winners .table-tr>div:nth-child(1){
        width: 45%;
    }
    .content-winners .table-tr>div:nth-child(2){
        width: 35%;
    }
    .content-winners .table-tr>div:nth-child(3){
        width: 20%;
    }
    .winners-pagination{
        margin-top: 80px;
    }
    .pager .item, .pager .item a {
        font-size: 33px;
    }
    .pager .pager-left a,
    .pager .pager-right a{
        width: 62px;
        height: 40px;
        box-sizing: border-box;
        margin-top: 10px;
    }
    .pager-left{
        margin-right: 5px;
    }
    .pager-right{
        margin-left: 5px;
    }

    /* index page */
    .wrap.index-page {
        background-image: url('../img/bg-index-mob.jpg');
    }
    .content-index{
        position: relative;
        text-align: center;
        margin-top: 145px;
    }
    .mehanika{
        padding: 45px 100px;
        border-radius: 70px/200px;
    }
    .mehanika-step{
        display: block;
        width: auto !important;
        margin-bottom: 30px;
    }
    .mehanika-step>div {
        vertical-align: middle;
    }
    .mehanika .step-num{
        font-size: 45px;
        border-radius: 40px;
        height: 70px;
        line-height: 70px;
        width: 70px;
        margin-right: 15px;
    }
    .mehanika .step-title,
    .mehanika .step-text{
        font-size: 25px;
    }
    .index-btn-block{
        margin-top: 0;
        margin-left: -15px;
        width: auto;
    }
    .index-btn{
        display: inline-block;
        width: 370px;
        height: 160px;
        background: url('../img/index-btn-mob.png') 50% 0% no-repeat transparent;
    }
    .prizes-block{
        display: inline-block;
        text-align: center;
        margin-top: 615px;
        width: 605px;
        height: 330px;
        background: url('../img/bg-prizes-mob.png') 50% 50% no-repeat transparent;
    }
    .prize-text-block{
        margin-top: 255px;
        text-align: left;
    }
    .prizes-block .index-prize-money,
    .prizes-block .index-prize-sert{
        font-size: 26px;
        margin-left: 45px;
    }
    .prizes-block .index-prize-sert{
        margin-left: 49px;
    }
    .logo-5ka{
        position: absolute;
        top: -170px;
        left: 30px;
    }
    .content-404 .content-inner{
        margin-top: 290px;
        padding-left: 0;
        width: 580px;
        height: 400px;
        background: url('../img/bg-404-mob.png') 90% 200px no-repeat transparent;
    }
    .content-cabinet .content-inner{
        padding-top: 0px;
        width: 540px;
    }
    .content-cabinet h1{
        width: 300px;
        margin-left: 5px;
    }
    .content-cabinet .h2 {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    .content-cabinet .l-col,
    .content-cabinet .m-col{
        width: 100%;
        margin-right: 0;
        margin-bottom: 35px;
    }
    .content-cabinet .r-col{
        display: none;
    }
    .content-cabinet .user-info{
        border: none;
        margin-left: 40px;
        font-size: 22px;
    }
    .content-cabinet .user-info>div {
        margin-bottom: 25px;
    }
    .content-cabinet .user-info>div:nth-child(2),
    .content-cabinet .user-info>div:nth-child(3){
        display: inline-block;
        margin-right: 20px;
    }
    .content-cabinet .user-name{
        font-size: 40px;
    }
    .content-cabinet .check-reg-block .input-block label{
        display: block;
        margin-bottom: 15px;
        font-size: 25px;
        width: 100%;
        font-weight: normal;
    }
    .content-cabinet .check-reg-block .input-block input,
    .content-cabinet .check-reg-block .input-block select{
        width: 100%;
    }
    .content-cabinet .check-reg-block .input-block.datecheck-input-block select{
        width: 32.5%;
        font-size: 25px;
    }
    .content-cabinet .upload-path {
        background: #F6F7C5;
        height: 70px;
        width: 255px;
    }
    .content-cabinet .browse-wrap .btn-primary {
        font-size: 20px;
        padding: 26px 63px;
    }
    .checks-table .tr>div{
        font-size: 13px;
        padding-left: 20px;
    }
    .checks-table .tr>div:nth-child(1){
        padding-left: 30px;
    }
    .check-reg-btn-mobile{
        display: block;
        margin-top: 50px;
    }
    .profile-edit-btn-block a {
        font-size: 25px;
        padding: 20px 30px;
    }
    #profile-edit{
        width: 560px;
        padding: 40px;
        box-sizing: border-box;
    }
    #profile-edit .user-data,
    #profile-edit .user-address{
        width: auto;
        display: block;
        padding-left: 0;
        padding-right: 0;
    }
    #profile-edit .input-block{
        margin-bottom: 40px;
    }
    #profile-edit .input-block-house, 
    #profile-edit .input-block-corpus {
        width: 210px;
    }
    #profile-edit .input-block-house {
       margin-right: 50px;
    }
    #profile-edit .btn-primary {
        width: 350px;
    }
    #profile-edit .user-address select {
        width: 480px;
    }
    #profile-edit .user-address select,
    #profile-edit .user-address .input-block .select2-container .select2-selection--single{
        height: 74px;
    }
    #profile-edit .birthdate-input-block select {
        width: 154px;
    }
    .fancybox-wrap .fancybox-close {
        display: block;
        top: 10px;
        right: 10px;
        width: 70px !important;
        height: 70px;
        background: url('../img/close.png') 50% 50% no-repeat transparent;
        background-size: 100%;
    }
    .fancybox-skin {
        padding-top: 85px !important;
    }
}